<style>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
  }
  button {
    font-size: larger;
    padding: 3px 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  div > #importBtn {
    transform: rotate(180deg);
  }
  #setting {
    position: relative;
  }
  #settingPanel {
    padding: 0px 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250ox;
    min-height: 400px;
    min-width: 200px;
    background-color: gray;
    border-radius: 10px;
  }
  #settingPanel > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 10px 0px;
  }
  #settingPanel > div > span {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #settingPanel > div > span > input {
    width: 25px;
    height: 25px;
    border: 1px;
    border-radius: 5px;
    background: transparent;
  }
</style>

<div>
  @for (role of roles; track $index) {
  <button
    class="material-symbols-outlined"
    [style.background-color]="app$?.role == role.role ? '#73c7af' : ''"
    (click)="onClickActionButton(role.role)"
  >
    {{ role.icon }}
  </button>
  }
</div>

<!-- this input will be trigger when user click on image role button  -->
<input
  type="file"
  #fileInput
  style="display: none"
  (change)="onImageInput(fileInput.files)"
/>

<div>
  <input
    style="display: none"
    type="file"
    accept=".json"
    #importInput
    (change)="import(importInput.files)"
  />
  <button
    id="importBtn"
    class="material-symbols-outlined"
    (click)="importInput.click()"
    (click)="setCurrentAction.emit('select')"
  >
    ios_share
  </button>
  <button
    class="material-symbols-outlined"
    (click)="export()"
    (click)="setCurrentAction.emit('select')"
  >
    ios_share
  </button>
</div>
<div id="setting">
  <button class="material-symbols-outlined" (click)="toggleSetting(true)">
    settings_b_roll
  </button>
  <div id="settingPanel" [style]="{ display: setting ? 'block' : 'none' }">
    <div>
      <span style="width: 15%">
        <button
          style="font-size: small"
          (click)="toggleSetting(false)"
          class="material-symbols-outlined"
        >
          close
        </button></span
      >
      <span style="width: 85%; justify-content: center">Configration</span>
    </div>
    <div>
      <span>
        <label for="background-color">Background</label>
      </span>
      <span>
        <input
          (input)="setCanvasBackground($any($event.target).value)"
          type="color"
          name=""
          id="background-color"
        />
      </span>
    </div>
  </div>
</div>

@if(isExportComponentVisible){
<app-export (onCloseClick)="export()" />
}
