<style>
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dashboard .menu {
    width: 100vw;
    height: 10vh;
    min-width: 150px;
    min-height: 50px;
    position: relative;
  }
  .menubar {
    background-color: dimgray;
    width: 100%;
    height: 100%;
    position: sticky;
  }
  .menubar button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .menubar .top .icon {
    font-size: xx-large;
  }

  .account_menu {
    display: none;
    cursor: default;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 5px;
    font-size: small;
    background-color: gray;
    border-radius: 6px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
  }
  .menubar .profile_icon:hover .account_menu {
    display: flex;
  }

  .account_menu > button {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  .menubar .top {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(62, 122, 120);
    border-radius: 0px 0px 10px 10px;
  }
  .dashboard .directry {
    width: 100vw;
    height: 45vh;
    min-height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .dashboard .recents {
    width: 100vw;
    height: 45vh;
    min-height: 100px;
    background-color: lightskyblue;
  }
  .card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  @media (min-width: 1000px) {
    .dashboard {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .dashboard .menu {
      width: 20vw;
      min-height: 100vh;
    }
    .dashboard .directry {
      width: 80vw;
      height: 50vh;
    }
    .dashboard .recents {
      width: 80vw;
      height: 50vh;
    }
  }
</style>

<main class="dashboard">
  <section class="menu">
    <div class="menubar">
      <div class="top">
        <button
          id="icon"
          class="material-symbols-outlined"
          (click)="createProject()"
        >
          add
        </button>
        <span class="profile_icon" style="position: relative">
          <button id="icon" class="material-symbols-outlined">
            account_circle
          </button>
          <span class="account_menu">
            <button>Profle</button>
            <button (click)="signOut()">Signout</button>
          </span>
        </span>
      </div>
      <div class="bottom"></div>
    </div>
  </section>
  <section>
    <div class="directry">
      @for (project of app$?.projects; track $index) {
      <div
        [routerLink]="'/canvas/' + project.id"
        class="card"
        [style]="{ backgroundColor: 'dimgray' }"
      >
        <p>{{ project.id }}</p>
      </div>
      } @empty {
      <div class="card" [style]="{ backgroundColor: 'white' }">
        <p>empty</p>
      </div>
      }
    </div>
    <div class="recents"></div>
  </section>
</main>
