<style>
  .independent-layer {
    position: relative;
    padding: 5px 0px;
    border: 2px solid rgb(162, 160, 160);
    /* background-color: rgb(162, 160, 160); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    min-height: 20px;
  }
  .toMove_before::before {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    left: 10%;
    background-color: aquamarine;
    top: 0px;
  }
  .toMove_after::after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    left: 10%;
    background-color: aquamarine;
    bottom: 0px;
  }

  app-layer-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
    width: 100%;
    height: fit-content;
  }

  .independent-layer > span {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
  }
  .independent-layer > span > button {
    font-size: medium;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .group {
    border: 2px solid gray;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .independent-layer:hover {
    border: 2px solid rgb(0, 106, 255);
  }
</style>

@if(layerService.context_menu){
<app-layer-panel-context-menu
  style="z-index: 2"
  (onGroup)="layerService.createGroup()"
  [position]="layerService.context_menu"
/>
} @for (obj of layers; track $index) { @if(obj.type==='group'){

<div class="group">
  <div
    class="independent-layer {{
      isEqualToChangeOrder_to($index, group_id)
        ? layerService.changeOrder &&
          canvasService.seriesIndex(obj._id)! <
            canvasService.seriesIndex(layerService.changeOrder.from.obj_id)!
          ? 'toMove_before'
          : 'toMove_after'
        : ''
    }}"
    style="margin-bottom: 2px"
    [style]="{
      backgroundColor: canvasService.idsOfSelectedObj.includes(obj._id)
        ? 'rgb(162, 160, 100)'
        : 'rgb(162, 160, 160)'
    }"
    (contextmenu)="layerService.onContextClickAtLayer($event, obj)"
    (mousemove)="layerService.setPositionToMove(group_id, $index)"
  >
    <span style="width: 15%" class="Triangle">
      <button
        (click)="
          obj.isMinimized =
            obj.isMinimized === undefined ? false : !obj.isMinimized
        "
        class="material-symbols-outlined"
      >
        {{ obj.isMinimized ? "expand_less" : "expand_more" }}
      </button>
    </span>
    <span
      (mousedown)="layerService.setObjToMove(obj._id, group_id, $index)"
      style="width: 60%; cursor: default; user-select: none"
      (click)="layerService.onLeftClick($event, obj,group_id)"
      >{{ obj.type }}</span
    >
    <span style="width: 25%">
      <button
        class="material-symbols-outlined"
        (click)="layerService.toggleVisibility(obj)"
      >
        {{ obj.visible ? "visibility " : " visibility_off" }}
      </button>
      <button
        class="material-symbols-outlined"
        (click)="layerService.toggleControllability(obj)"
      >
        {{ obj.selectable ? "lock_open_right" : "lock" }}
      </button>
    </span>
  </div>
  @if(obj.isMinimized===false){
  <app-layer-panel [layers]="obj._objects" [group_id]="obj._id" />
  }
</div>
}@else {

<div
  class="independent-layer {{
    isEqualToChangeOrder_to($index, group_id)
      ? layerService.changeOrder &&
        canvasService.seriesIndex(obj._id)! <
          canvasService.seriesIndex(layerService.changeOrder.from.obj_id)!
        ? 'toMove_before'
        : 'toMove_after'
      : ''
  }}"
  (click)="layerService.onLeftClick($event, obj,group_id)"
  [style]="{
    backgroundColor: canvasService.idsOfSelectedObj.includes(obj._id)
      ? 'rgb(162, 160, 100)'
      : 'rgb(162, 160, 160)'
  }"
  (contextmenu)="layerService.onContextClickAtLayer($event, obj)"
  (mousemove)="layerService.setPositionToMove(group_id, $index)"
>
  <span
    (mousedown)="layerService.setObjToMove(obj._id, group_id, $index)"
    style="width: 75%; cursor: default; user-select: none"
    >{{ obj.type }}</span
  >
  <span style="width: 25%">
    <button
      class="material-symbols-outlined"
      (click)="layerService.toggleVisibility(obj)"
    >
      {{ obj.visible ? "visibility " : " visibility_off" }}
    </button>
    <button
      class="material-symbols-outlined"
      (click)="layerService.toggleControllability(obj)"
    >
      {{ obj.selectable ? "lock_open_right" : "lock" }}
    </button>
  </span>
</div>
} }
