<style>
  button {
    padding: 3px 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:hover {
    cursor: pointer;
  }
</style>

@for (role of roles; track $index) {
<button
  [style.background-color]="app$?.action == role.role ? '#73c7af' : ''"
  (click)="onClickActionButton(role.role)"
>
  <span class="material-symbols-outlined"> {{ role.icon }} </span>
</button>
}

<button (click)="exportCanvasObjectsToJson()">
  <span class="material-symbols-outlined"> ios_share </span>
</button>
